* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: end;
    overflow-x: hidden;
    color: white;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #62af90;
    padding: 20px 20px;
    font-size: 0px;
    transition: all 0.5s;
    overflow: hidden;
    box-shadow: 3px 0 0 #316750;
}

.sidebar:hover {
    font-size: 20px;
    overflow: auto;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar ul li.item-menu a {
    color: white;
}

.sidebar ul li.item-menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    top: 0;
}

.sidebar ul li.item-menu a:hover {
    background-color: #316750;
}

.sidebar ul li.item-menu a i{
    font-size: 30px;
}

.main-container {
    width: 92%;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
    padding: 20px;
}

.atividade {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 35%;
    background: linear-gradient(150deg, #316750, #62af90);
    margin-top: 2%;
    border-radius: 20px;
}

.txt-atividade {
    width: 60%;
}

.txt-atividade h2 {
    text-align: center;
    padding-top: 10px;
}

.txt-atividade h4 {
    padding-top: 5px;
}   

.txt-atividade button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #316750;
    color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .main-container {
        justify-content: flex-end;
        padding: 20px 20px 20px 50px;
    }
}

@media (max-width: 720px) {
    .main-container {
        justify-content: flex-end;
        padding: 20px 20px 20px 0px;
    }
    .atividade {
        width: 40%;
    }
}

@media (max-width: 560px) {
    .main-container {
        justify-content: center;
        padding-left: 20%;
    }
    .atividade {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .atividade {
        width: 80%;
    }
}
